.cover.show {
    background: linear-gradient(
        to left bottom,
        hsl(242, 100%, 85%) 0%,
        hsl(194, 100%, 85%) 100%
    ) !important;
}

main .sidebar {
    padding-top: 20px;
}
main > section.content {
    padding-top: 20px;
}
main .app-name-link img {
    width: 60px;
}

.markdown-section blockquote {
    margin: 0px;
}

.flex-images {
    display: flex;
}
.flex-images > div {
    padding: 0px 5px;
}
img {
    border: 1px solid silver;
}
